<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main-register">  
        <h1>Cadastro</h1>
        <div class="card-register">
            <div class="nome">
                <div class="textfield">
                    <label>Nome:</label>
                    <input type="text" name="nome">
                </div>
                <div class="textfield">
                    <label>E-mail:</label>
                    <input type="text" name="email">
                </div>
            </div>
            <div class="senha">
                <div class="textfield">
                    <label>Senha:</label>
                    <input type="password" name="senha">
                </div>
                <div class="textfield">
                    <label>Repita:</label>
                    <input type="password">
                </div>
            </div>

            <div class="cep">
                <div class="textfield">
                    <label>CEP:</label>
                    <input type="text" name="cep">
                    <button id="cep" mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>Buscar</button>
                </div>
                <br>
                <!--<div class="textfield">
                    <label>Estado:</label>
                    <input type="text" name="estado">
                </div>-->
            </div>
            <div class="endereco">
                <div class="textfield">
                    <label>Rua:</label>
                    <input type="text" name="rua">
                </div>
                <div class="textfield">
                    <label>Número</label>
                    <input type="text">
                </div>
            </div>
            <div class="cidade">
                <div class="textfield">
                    <label>Cidade</label>
                    <input type="text" name="cidade">
                </div>
                <div class="textfield">
                    <label>Bairro:</label>
                    <input type="text">
                </div>
            </div>
            <button class="btn-cadastro">Cadastrar-se</button>
        </div>
    </div>
</body>

</html>