<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lojinha</title>
</head>
<body>
    <div class="titulo">
        <mat-toolbar color="primary">
            <button mat-icon-button color="white" routerLink="">
                <mat-icon>home</mat-icon>
              </button>
           <span>Loja</span>
           <span class="example-spacer"></span>
         </mat-toolbar>
    </div>
<router-outlet></router-outlet>
