<div class="cadastros">
    <button id="login" mat-raised-button color="primary" [routerLink]="'login'">Login</button>
    <button  id="registro" mat-raised-button color="primary" [routerLink]="'cadastro'">Cadastre-se</button>
</div>
    <div class="img-central">
        <img src="..\assets\surfer-animate.svg">
    </div>
    <div class="busca">
        <input> <button mat-raised-button color="primary"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>Buscar</button>
    </div>
    <div class="tela-compra">
        <div class="lista-produtos">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Pranchas">
                    <app-list1></app-list1>
                </mat-tab>
                <mat-tab label="Camisas">
                    <app-list2></app-list2>
                </mat-tab>
                <mat-tab label="Bermudas">
                    <app-list3></app-list3>
                </mat-tab>
                <mat-tab label="Protetores">
                    <app-list4></app-list4>
                </mat-tab>
            </mat-tab-group>    
        </div>
        <div class="carrinho">
            <app-carrinho></app-carrinho>
        </div>
    </div>

